# MacOS
.DS_Store

# IDE
.vscode
.idea/

# Go prof output
*.prof

# Test files
*.rlp

# Go test output
*/*.test
*/*.out
fuzzing/

# Build output
build
dist

# Dependencies
vendor
glide.lock

# patches and diff files
*.patch
*.diff

# gomobile compilation output
*.aar
*.jar

# archives
*.tar.gz
*.tgz
*.zip

# pano project specific
scripts/certs
scripts/nodes
scripts/peers.json
scripts/docker/upx
nodes
peers.json
certs
lachesis_*
!*.go
*.log

# Testnet runtime data
testnet/node_modules/
testnet/validator*/chaindata/
testnet/validator*/carmen/
testnet/validator*/emitter/
testnet/validator*/p2p/
testnet/validator*/*.log
*.graph
*.gv
*.finality
testnet.g

# Backup copies
*~
*.bak

.#*

**/coverage.txt

# Validator datadirs
testnet/validator*/carmen/
testnet/validator*/chaindata/

# Validator runtime data
testnet/validator*/emitter/
testnet/validator*/p2p/
testnet/validator*/keystore/UTC--*
